@model WorkoutViewModel


<div class="modal fade" id="newExerciseModal" tabindex="-1" role="dialog" aria-labelledby="newExerciseModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form role="form" asp-controller="Exercise" asp-action="NewExercise" asp-route-workoutId="@Model.Id" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="newExerciseModal-label">New exercise</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="exerciseNameInput">Name</label>
                        <input type="text" required class="form-control" id="exerciseNameInput" name="name">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exerciseDescriptionInput">Description</label>
                        <textarea type="text" class="form-control" id="exerciseDescriptionInput" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="toolSelectList">Select tool</label>
                        <select id="toolSelectList" class="form-control" name="toolId">
                            <option>Select tool</option>
                            @foreach (var tool in Model.Tools)
                            {
                                <option value="@tool.Id">@tool.Name</option>
                            }
                        </select>
                        <button type="button" class="btn btn-default btn-xs" onclick="$('#newTool').show()"><i class="fa fa-plus"></i> New tool</button>
                    </div>
                    <div class="form-group" hidden id="newTool">
                        <label class="control-label" for="exerciseToolInput">Name for new tool</label>
                        <input type="text" class="form-control" id="exerciseToolInput" name="toolName">
                        <hr />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="videoUrlInput">Video URL (youtube link only!)</label>
                        <input type="url" class="form-control" id="videoUrlInput" name="videoUrl">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exerciseSetsInput">Sets</label>
                        <input type="number" class="form-control" id="exerciseSetsInput" name="sets">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exerciseRepsInput">Reps</label>
                        <input type="number" class="form-control" id="exerciseRepsInput" name="reps">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exerciseResistanceInput">Resistance</label>
                        <input type="text" class="form-control" id="exerciseResistanceInput" name="resistance">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exerciseNotesInput">Notes</label>
                        <textarea type="text" class="form-control" id="exerciseNotesInput" name="notes"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>