body .btn {
    background-color: #cccccc;
    background-image: url('../images/dust.png');
    background-repeat: repeat;
}

.workoutplan-header {
    border-bottom: 1px solid #808080;
    margin-bottom: 150px;
    margin-top: 40px;
}

.navbar-header { margin-bottom: 20px; }

.navbar-form { margin-top: 10px; }

#addBtn { margin-top: 5px; }

.bold { font-weight: bold; }

input {
    background-color: #cccccc;
    background-image: url('../images/dust.png');
    background-repeat: repeat;
}

:read-only {
    background-color: #cccccc;
    background-image: url('../images/dust.png');
    background-repeat: repeat;
    color: black;
}

input[type="text"] {
    background-color: #cccccc;
    background-image: url('../images/dust.png');
    background-repeat: repeat;
}

.time { border: 1px solid #cccccc; }

.panel-heading {
    background-color: #cccccc;
    background-image: url('../images/dust.png');
    background-repeat: repeat;
}

.panel-body {
    background-color: #cccccc;
    background-image: url('../images/dust.png');
    background-repeat: repeat;
}

.panel-group .panel-heading { border-bottom: 1px solid #cccccc; }


img.logo {
    height: auto;
    width: 100%;
}



.btn {
    /*background-image: url('../images/dust.png');
    background-repeat: repeat;
    background-color: #cccccc;*/
    border: 1px solid transparent;
}

.btn:hover {
    border: 1px solid #808080;
    transition: 0.3s;
}


a { color: #808080; }

a:hover { color: black; }

.line-through { text-decoration: line-through; }

.login-header {
    font-size: 2.5rem;
    left: 48%;
    min-width: 500px;
    position: absolute;
    text-align: center;
    top: 20%;
    transform: translate(-50%, -50%);
}

.google-login {
    color: #808080;
    font-size: 20pt;
    left: 50%;
    max-width: 300px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-72%, -50%);
}

.fa-google {
    color: #808080;
    font-size: 60pt;
}